input {
  font-family: $my-font;
  width: 300px;
  background-color: transparent;
  cursor: text;
  padding: 1px;
  border: none;
  border-bottom: 2px solid black;
  color: $b-blue;
  text-transform: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font-size: 22px;
  line-height: 42px;
  font-weight: lighter;
  letter-spacing: 0.035em;
  &:focus {
    outline: none;
  }
  @media (max-width: $small-screen) {
    width: 190px;
  }
}
