.flexbox {
  display: flex;
  flex-wrap: wrap;
  &.space-between {
    justify-content: space-between;
  }
  &.flex-end {
    text-align: flex-end;
  }
}
.half-element {
  flex: 0 0 48%;
  @media (max-width: $small-screen) {
    flex: 0 0 auto;
    width: 48%;
  }
}
