// * {
//   scroll-behavior: smooth;
// }

body {
  margin: 0;
  font-family: $my-font;
}
p, h2 {
  font-size: 35px;
  color: black;
  line-height: 42px;
  margin: 0;
  font-weight: lighter;
  letter-spacing: 0.035em;
  @media (max-width: $small-screen) {
    font-size: 22px;
    line-height: 26px;
  }
}
.material-icons {
  font-size: 35px;
  color: black;
  line-height: 42px;
  margin: 0;
  font-weight: lighter;
  letter-spacing: 0.035em;
  @media (max-width: $small-screen) {
    font-size: 22px;
    line-height: 26px;
  }
}
p.small-text {
  font-size: 18px;
  line-height: 22px;
  hyphens: auto;
  @media (max-width: $small-screen) {
    font-size: 14px;
    line-height: 18px;
  }
  @media (max-width: $very-small-screen) {
    font-size: 11px;
    line-height: 14px;
  }
}
a {
  font-size: 35px;
  line-height: 42px;
  margin: 0;
  color: black;
  text-decoration: none;
  letter-spacing: 0.035em;
  background-image: linear-gradient(rgb(0,0,255), rgb(0,0,255));
  background-position: 0 37px;
  background-repeat: repeat-x;
  background-size: cover;
  @media (max-width: $small-screen) {
    font-size: 22px;
    line-height: 26px;
    background-position: 0 24px;
  }
}
.small-text a {
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  background-image: linear-gradient(rgb(0,0,255), rgb(0,0,255));
  background-position: 0 19px;
  background-repeat: repeat-x;
  background-size: cover;
  @media (max-width: $small-screen) {
    font-size: 14px;
    line-height: 18px;
    background-position: 0 15px;
  }
  @media (max-width: $very-small-screen) {
    font-size: 11px;
    line-height: 14px;
    background-position: 0 11px;
  }
}
