// * {
//   scroll-behavior: smooth;
// }

body {
  margin: 0;
  font-family: $my-font;
}
p, h2 {
  font-size: 35px;
  color: black;
  line-height: 42px;
  margin: 0;
  font-weight: lighter;
}
p.small-text {
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
}
a {
  font-size: 35px;
  line-height: 42px;
  margin: 0;
  color: black;
  text-decoration: underline $b-blue;
}
