nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 27%;
  background-color: $b-red;
}
#brand {
  position: absolute;
  top: 6%;
  left: 6%;
  width: 100%;
  img {
    width: 80%;
  }
}
#menu {
  position: absolute;
  left: 16%;
  top: 38%;
  a {
    display: block;
    text-decoration: none;
    border: none;
    background-image: none;
    &.active {
      font-style: italic;
    }
  }
}
#legal-link {
  position: absolute;
  left: 16%;
  bottom: 6%;
  a {
    text-decoration: none;
    border: none;
    background-image: none;
    font-size: 18px;
    line-height: 22px;
    &.active {
      font-style: italic;
    }
  }
}
