.page {
  width: 73%;
  float: right;
  height: 100vh;
  background-color: $b-brown;
  position: relative;
  @media (max-width: $small-screen) {
    width: 100%;
    float: initial;
    height: calc(100vh - 6em);
    padding-top: 6em;
  }
}
.content {
  position: absolute;
  top: 38%;
  padding: 0 14%;
  width: 72%;
}
.legal-content {
  position: absolute;
  top: 38%;
  padding: 0 14%;
  width: 72%;
  @media (max-width: $small-screen) {
    position: initial;
    width: calc(100% - 4em);
    padding: 2em;
  }
}
