.page-wrapper {
  background-color: $b-brown;
  height: 100vh;
  width: 73%;
  left: 27%;
  position: relative;
  overflow: hidden;
  @media (max-width: $small-screen) {
    top: 6em;
    left: 0;
    width: 100%;
    height: calc(100vh - 6em);
    padding-top: 0;
  }
  &.yellow-wrapper {
    background-color: $b-yellow;
  }
}
.page {
  position: absolute;
  right: 0;
  left: 0;
  height: 100vh;
  top: 0;
  z-index: 10;
  &.front-page {
    z-index: 100;
  }
}
.client-page {
  position: absolute;
  right: 0;
  left: 0;
  height: 100vh;
  top: 100vh;
  background-color: $b-brown;
  transition: transform 0.5s ease;
  z-index: 10;
  @media (max-width: $small-screen) {
    width: 100%;
    float: initial;
    height: calc(100vh - 6em);
    padding-top: 6em;
  }
  &.front-page {
    z-index: 100;
  }
}
.client-page.on-screen {
  transform: translate3d(0px, -100vh, 0px)
}
.client-page.up {
  transform: translate3d(0px, -200vh, 0px)
}
.content {
  position: absolute;
  top: 38%;
  padding: 0 14%;
  width: 72%;
  @media (max-width: $small-screen) {
    top: 30%;
  }
}
// spécificités de la page legal
.legal-page {
  background-color: $b-brown;
  height: auto;
  padding-left: 27%;
  width: calc(100vw - 27%);
  @media (max-width: $small-screen) {
    width: 100%;
    padding-left: 0;
    padding-top: 6em;
  }
}
.legal-content {
  padding: 14% 14%;
  column-count: 2;
  text-align: justify;
  @media (max-width: $small-screen) {
    position: initial;
    width: calc(100% - 4em);
    padding: 2em;
  }
}
