/*
 * Emigre web font kit cXyvSsMX35Tlmod/AMAGtg==
 *
 * These fonts are not shareware.
 * Use of these fonts requires the purchase
 * of a license from Emigre, www.emigre.com
 * Please contact sales@emigre.com
 *
 * To purchase a license to use this font go to:
 * http://www.emigre.com/
 *
 * © 2018 Emigre, Inc
 */

@font-face {
    font-family: 'mreavesmodot-book';
    src: font-url('mreavesmodot-book-webfont.eot');
    src: font-url('mreavesmodot-book-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('mreavesmodot-book-webfont.woff2') format('woff2'),
         font-url('mreavesmodot-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
$my-font: "mreavesmodot-book";
// @font-face {
//     font-family: 'mreavesmodot-bookitalic';
//     src: url('mreavesmodot-bookitalic-webfont.eot');
//     src: url('mreavesmodot-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
//          url('mreavesmodot-bookitalic-webfont.woff2') format('woff2'),
//          url('mreavesmodot-bookitalic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }
