.text-center {
  text-align: center;
}
.margin-top {
  margin-top: 42px;
}
.underlined {
  background-image: linear-gradient(rgb(0,0,255), rgb(0,0,255));
  background-repeat: repeat-x;
  background-size: 100% 100%;
}
.hidden {
  display: none;
}
p.underlined {
  background-position: 0 19px;
}
span.underlined {
  background-position: 0 19px;
  @media (max-width: $small-screen) {
    background-position: 0 15px;
  }
}
