<div class="page page-index" data-page="contact">
  <div class="content text-center margin-top">
    <a href="mailto:hello@sundarandco.studio" target="_blank">hello@sundarandco.studio</a>
  </div>
</div>
