---
title: Sundar&Co Studio
---
<div class="page page-index" data-page="home">
  <div class="content">
    <p>Hi, I’m <a href="http://fannyboucher.com/" target="_blank">Fanny</a>. Sundar & Co. is my studio. We work on digital, design and branding. Sundar & Co. is based in Paris.</p>
  </div>
</div>
