---
title: Sundar&Co Studio
---

<div class="page">
  <div class="parallax-container">
    <div class="parallax"><img src="logo.png"><h2>Test</h2></div>
  </div>
</div>

<div class="page page-index" data-page="home">
  <div class="content">
    <p>Hi, I’m <a href="http://fannyboucher.com/" target="_blank">Fanny</a>. Sundar & Co. is my studio. We work on digital, design and branding. Sundar & Co. is based in Paris.</p>
  </div>
</div>
