<div class="page-wrapper">
  <div class="page page-index" data-page="legal">
    <div class="content legal-content flexbox space-between">
      <div class="half-element">
        <p class="small-text">Because we are a French company, we are required to publish our legal mentions in French. It basically says who we are, that we’ll sue you if you steal our content and that we won’t give your email to anyone.</p>
        <br>
        <p class="small-text">
          Ce site a été développé par <span class="underlined">Julie Pierre</span> et est hébergé par GoDaddy, 14455 N. Hayden Rd #219, Scottsdale, AZ 85260, USA.
        </p>
        <br>
        <p class="small-text">La propriétaire, créatrice et responsable de la publication de ce site est Fanny Boucher, numéro de SIRET 123456789, adresse légale 10 rue du Jour- dain 75020 Paris, France, et adresse éléctronique: <a href="mailto:fanny@sundarandco.studio">fanny@sundarandco.studio</a></p>
      </div>
      <div class="half-element">
        <p class="small-text">Toute exploitation non autorisée de ce site ou de l’un des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>
        <br>
        <p class="small-text">Ce site recueillant des informations personnelles avec pour toute finalité l’envoi de newsletters, il est dispensé de déclaration auprès de la CNIL. Vous pouvez exercer votre droit d’accès aux données vous concernant et les faire rectifier en contactant <a href="mailto:hello@sundarandco.studio">hello@sundarandco.studio</a>.</p>
        <br>
        <p class="small-text">Tout litige en relation avec l’utilisation de ce site est soumis au droit français.</p>
      </div>
    </div>
  </div>
</div>
