<div class="legal-page page-index" data-page="legal">
  <div class="legal-content" lang="fr">
    <p class="small-text">As a French company we are required to publish our legal mentions in French. It basically says who we are, that we’ll sue you if you steal our content but that we will not share your email.</p>
    <br>
    <p class="small-text">
      Conformément à l’article n°6 de la Loi n°2004-575 du 21 Juin 2004 pour la confiance dans l’économie numérique, ce site est hébergé par GitHub, 88 Colin P Kelly Jr St San Francisco, CA 94107, United States, +1 (877) 448- 4820. Il a été développé par <a href="http://agence-41.com/" target="_blank">Julie Pierre</a>. La responsable de sa publication est Fanny Boucher, 10 rue du Jourdain 75020 Paris, joignable par email sur <a href="mailto:fanny@sundarandco.studio" target="_blank">fanny@sundarandco.studio</a> et par téléphone au 01 71 97 95 73.
    </p>
    <br>
    <p class="small-text">
      Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes, logos, et icônes ainsi que leur mise en forme est la propriété exclusive de Sundar & Co. à l’exception des marques, logos ou contenus appartenant à d’autres sociétés partenaires ou auteurs. Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l’accord écrit de Sundar & Co. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur.
    </p>
    <br>
    <p class="small-text">Conformément à la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, ce site est dispensé de déclaration auprès de la Commission nationale de l’informatique et des libertés (CNIL). En application de cette même loi vous jouissez de droits d’opposition (art.26), d’accès (art.34 à 38) et de rectification (art.36) de toutes les données qui vous concernent.</p>
    <br>
    <p class="small-text">Les présentes conditions sont régies par les lois françaises et toute contestation ou litiges qui pourraient naître de l’interprétation ou de l’exécution de celles-ci seront de la compétence exclusive des tribunaux dont dépend le siège social de la société. La langue de référence, pour le règlement de contentieux éventuels, est le français.</p>
  </div>
</div>

