<div class="page-wrapper">
  <div class="page page-index" data-page="legal">
    <div class="content legal-content flexbox space-between">
      <div class="half-element">
        <p class="small-text">As a French company we are re- quired to publish our legal mentions in French. It basically says who we are, that we’ll sue you if you steal our content and that we will not give your email to anyone.</p>
        <br>
        <p class="small-text">
          Conformément à l’article n°6 de la Loi n°2004-575 du 21 Juin 2004 pour la confiance dans l’économie numérique, ce site est hébergé par GitHub, 88 Colin P Kelly Jr St San Francisco, CA 94107, United States, +1 (877) 448- 4820. Il a été développé par <span class="underlined">Julie Pierre</span> , et la responsable de sa pub- lication est Fanny Boucher, numéro de SIRET 123456789, domiciliée 10 rue du Jourdain 75020 Paris, France, email <a href="mailto:fanny@sundarandco.studio">fanny@sundarandco.studio</a>, numéro de téléphone 06 21 22 89 33.
        </p>
        <br>
        <p class="small-text">Dans l’hypothèse où un utilisateur ou visiteur souhaiterait mettre en place un hyperlien en direction de ce site, il lui appartiendra de formuler sa demande par email à hello@sundarandco.studio.</p>
      </div>
      <div class="half-element">
        <p class="small-text">Toute exploitation non autorisée de ce site ou de l’un des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>
        <br>
        <p class="small-text">Ce site recueillant des informations personnelles avec pour toute finalité l’envoi de newsletters, il est dispensé de déclaration auprès de la CNIL. Vous pouvez exercer votre droit d’accès aux données vous concernant et les faire rectifier en contactant <a href="mailto:hello@sundarandco.studio">hello@sundarandco.studio</a>.</p>
        <br>
        <p class="small-text">Tout litige en relation avec l’utilisation de ce site est soumis au droit français.</p>
      </div>
    </div>
  </div>
</div>
