<div class="page-wrapper">
  <div class="page-index" data-page="more">
    <div class="client-page fullpage on-screen" id="more-page">
      <div class="content">
        <p>We love <span class="linkToNL underlined">Bombay</span>, <span class="linkToNL underlined">Naples</span>, typography and <a href="http://www.terroirsdechefs.com/toutes-les-recettes-de-saison-regionales-et-du-terroir-des-grands-chefs-cuisiniers-de-france/toutes-les-recettes-des-grands-chefs-de-cuisine/Jean-Pierre-Vigato/Souffle-a-la-pistache" target="_blank">pistachio soufflé</a>. We do pro bono work for charities.</p>
      </div>
    </div>
    <div class="client-page fullpage" id="newsletter">
      <div class="content">
        <p>To receive our city guides, please enter your email.</p>
        <br>
          <div id="mc_embed_signup">
            <form action="https://studio.us17.list-manage.com/subscribe/post?u=3947b66af28c4e426a182e8f5&amp;id=ede4575e3e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3947b66af28c4e426a182e8f5_ede4575e3e" tabindex="-1" value=""></div>
                <input type="submit" value="" class="hidden" name="subscribe" id="mc-embedded-subscribe" class="b-btn">
                <label for="mc-embedded-subscribe"><i class="material-icons">check</i></label>
                </div>
            </form>
          </div>
        <!--End mc_embed_signup-->
      </div>
    </div>
  </div>
</div>
