<div class="page-index" data-page="more">
  <div class="page">
    <div class="content">
      <p>We love Bombay, Naples, <a href="https://techcrunch.com/">TechCrunch</a> and <a href="http://www.terroirsdechefs.com/toutes-les-recettes-de-saison-regionales-et-du-terroir-des-grands-chefs-cuisiniers-de-france/toutes-les-recettes-des-grands-chefs-de-cuisine/Jean-Pierre-Vigato/Souffle-a-la-pistache" target="_blank">pistachio soufflé</a>. Whoever gets us tickets for the <a href="http://www.ghibli-museum.jp/en/" target="_blank">Ghibli Museum</a> will get a free consultation.</p>
    </div>
  </div>
  <div class="page">
    <div class="content">
      <p>To receive our city guides, please enter your email.</p>
      <br>
      <form action="https://formspree.io/julie.pierre3@gmail.com"
        method="POST">
        <input type="text" name="name" class="form-control" required>
        <input type="hidden" name="_next" value="/more.html">
        <input type="submit" value="Send" class="b-btn">
      </form>
    </div>
  </div>
</div>
